name: Devsec pipeline

on: 
  push:
    branches: 
      - main
   workflow_dispatch:
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Clean workspace
        run: rm -rf *

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install
